<section class="section services"  id="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wrapp-section-title section-title-center">
          <h2 class="section-title wow fadeIn">About Us</h2>
          <hr style=" border: 0;height: 2px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

        </div>
          <p class="wow fadeIn" data-wow-delay"1s">ZAIRZA, a society, a cult for CETIANS who want to be ahead in the game. Sure we all have talent, in this club we put our talents through many obstacles and we conquer them. We walk out as winners who not only read books all these years but test the theories and sometimes make our own. The club is managed by its students and alumni. The society was founded in the year 2005 and got a officially recognition in the year 2007 as a technical society of CET. The society consists of three wings</p>
          <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
              <!-- Begin team item -->
              <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
                <div class="team-item-info" style="background-color:#f0f4f8;">
                  <h4 class="team-item-title item-title">Software Wing</h4>
                  <hr style=" border: 0;height: 2px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                  <p style="text-align:justify;">The software wing of Zairza has had a proven track record over the past few years. 
                    Here we focus on all kinds of software development, ranging from web development to machine learning and artificial Intelligence.</p>
                </div>
              </div><!-- End team item -->
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
              <!-- Begin team item -->
              <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.5s">
                <div class="team-item-info" style="background-color:#f0f4f8;">
                  <h4 class="team-item-title item-title">Robotics Wing</h4>
                  <hr style=" border: 0;height: 2px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                  <p style="text-align:justify;">
                      The robotics wing of the club has done some remarkable work in the domains of robotics, internet of things, embedded systems and several electronic projects. We develop models taking inspiration from many
                      software tools because we believe a product can always be smarter. This is a good chance to experiment with your theoretical knowledge and push your technical boundaries.
                  </p>
                </div>
              </div><!-- End team item -->
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
              <!-- Begin team item -->
              <div class="team-item item item-style wow fadeInRight"data-wow-duration="2s">
                <div class="team-item-info" style="background-color:#f0f4f8;">
                  <h4 class="team-item-title item-title">Design Wing</h4>
                  <hr style=" border: 0;height: 2px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                  <p style="text-align:justify;">
                      The design team of Zairza have done many creative projects in the field of Graphic designing.
                       We create designs that are necessary for the current market and are trending.
                        Our design includes logo designs, poster designs, brochure designs, Ui /Ux designs, as well as unique artworks.
                       Designing gives you an opportunity to enhance your visualisation and be creative in every aspect with no limitations.
                  </p>
                </div>
              </div><!-- End team item -->
            </div>
          </div>
          <p class="wow fadeIn">Here at Zairza, we Design, we Create and we Innovate. Extensive research and development is carried out which equips the members with knowledge on various technological fields. Members are actively engaged in taking the society to greater height through their continuous efforts in the field of Engineering. The legacy of Zairza flows down through each batch of CET which empowers us to stand ahead of our counterparts.</p>
      </div>
    </div>
  </div>
</section>