<section class="section blogs">
  <div class="container-fluid" style="background: white">
    <div class="row">
      <div class="col-12">
        <div class="wrapp-section-title section-title-center">
          <h2 class="section-title">Featured Blogs</h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- Begin news item -->
        <article class="news-item item item-style">
          <a href="https://blog.zairza.in/oauth-using-mevn-stack-4b4a383dae08" class="news-item-img">
            <img data-src="https://miro.medium.com/max/221/1*-5x0MC7k53mV4VMqKiKHOg.png" class="lazy"
              src="https://miro.medium.com/max/221/1*-5x0MC7k53mV4VMqKiKHOg.png" alt="">
          </a>
          <div class="news-item-info">
            <div class="news-item-date button">29/07/2019</div>
            <h4 class="news-item-title item-title">
              <div class="container-fluid" style="background: white">
                <a href="https://blog.zairza.in/oauth-using-mevn-stack-4b4a383dae08"
                  title="OAuth using MEVN Stack">OAuth using MEVN Stack</a>
            </h4>
            <div class="news-item-desc">
              <p>By Ramakrishna Pattnaik
            </div>
          </div>
        </article><!-- End news item -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- Begin news item -->
        <article class="news-item item item-style">
          <a href="https://blog.zairza.in/https-medium-com-pruthwirajnayak-what-is-bitcoin-and-how-its-mining-process-works-8cf5aa51d87f"
            class="news-item-img">
            <img data-src="https://miro.medium.com/max/700/0*OTNmLGvhRj5hjaTz" class="lazy"
              src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
              alt="">
          </a>
          <div class="news-item-info">
            <div class="news-item-date button">29/07/2019</div>
            <h4 class="news-item-title item-title">
              <a href="https://blog.zairza.in/https-medium-com-pruthwirajnayak-what-is-bitcoin-and-how-its-mining-process-works-8cf5aa51d87f"
                title="What is BITCOIN and how its Mining Process Works">What is "BITCOIN" and how its Mining Process
                Works</a>
            </h4>
            <div class="news-item-desc">
              <p>By Pruthwiraj Nayak <br>Information Technology </p>
            </div>
          </div>
        </article><!-- End news item -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Begin news item -->
        <article class="news-item item item-style">
          <a href="https://blog.zairza.in/a-guide-to-dual-booting-d9dffe042ee6" class="news-item-img">
            <img data-src="https://miro.medium.com/max/700/1*5yVOKthzCe2Ko5zoCgrLkQ.jpeg" class="lazy"
              src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
              alt="">
          </a>
          <div class="news-item-info">
            <div class="news-item-date button">05/07/2019</div>
            <h4 class="news-item-title item-title">
              <a href="https://blog.zairza.in/a-guide-to-dual-booting-d9dffe042ee6" title="A Guide to Dual Booting">A
                Guide to Dual Booting</a>
            </h4>
            <div class="news-item-desc">
              <p>By Dikshant Brahma</p>
            </div>
          </div>
        </article><!-- End news item -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Begin news item -->
        <article class="news-item item item-style">
          <a href="https://blog.zairza.in/modern-radios-miles-of-range-and-years-of-battery-life-6ca1a690c4d9"
            class="news-item-img">
            <img data-src="https://miro.medium.com/max/638/1*FM4WMjf-3728SkpU0U8miQ.jpeg" class="lazy"
              src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
              alt="">
          </a>
          <div class="news-item-info">
            <div class="news-item-date button">01/07/2019</div>
            <h4 class="news-item-title item-title">
              <a href="https://blog.zairza.in/modern-radios-miles-of-range-and-years-of-battery-life-6ca1a690c4d9"
                title="Modern Radios — Miles of Range and Years of Battery Life?">Modern Radios — Miles of Range and
                Years of Battery Life?</a>
            </h4>
            <div class="news-item-desc">
              <p>By Sanjana Mohapatra</p>
            </div>
          </div>
        </article><!-- End news item -->
      </div>
      <div class="col-12">
        <div class="section-btns justify-content-center">
          <a href="https://blog.zairza.in" class="btn btn-widht-ico btn-w240 ripple button  ">
            <span>See All Blogs</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <style>
    .button {
      background: #a2438f;
    }

    .blogs {
      margin-left: 75px;
      margin-right: 75px;
    }
  </style>
</section>