<section class="section"id="faq">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="wrapp-section-title section-title-center">
          <h1 class="section-title wow fadeIn"data-wow-duration="1s">
            <button class="faqtitle">FAQ</button>
          </h1>
          <hr style=" border: 0;height: 2px;background-image: linear-gradient(to right, #b60083, #94007b, #6f0071);">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 wow fadeInUp"data-wow-duration="1.5s">
      <h4>Why Zairza</h4>
      <p>For people persuing careers in computers and/or robotics, writing code, developing softwares, and creating exceptional things. That's what we do here. We do things and we help people who are really interested into them.</p>
      <h4>How can I join?</h4>
      <p>Zairza conducts its formal events for recruitment into the club. The pre-requisite includes passion for technology and an inquisitive mind. Please contact the club administration for the exact procudures.</p>
      <h4>What is the scope of Zairza?</h4>
      <p>The talent pool of the club is widely ranged. We have members working on Web Development, Android Development, Embedded Systems, IOT, Robotics, Machine Learning, Computer Vision and Artificial Intelligence. Our Alumnis are placed in prestigious organization around the globe.</p>
      </div>
      <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-duration="1.5s">
        <h4>I have a Tech project. How can Zairza help me?</h4>
        <p>Zairza can provide you with space and environment to work on your project. We have stable fast internet connection and all the tools, components and other required resources for your project. Given proper report, we can also fund your project. Apart from this, we have senior experienced mentors who will be more than happy to guide you throughout your project.</p>
        <h4>What are the club timings?</h4>
        <p>Zairza is open 24 hrs a day. Just coordinate with the members for the key.</p>
      </div>

    </div>
  </div>
  <style>
    .faqtitle {
      border-radius: 10%;
      border: 1px solid #a2438f;
      background: white;
      padding: 5px 20px 5px 20px;
    }
  </style>
</section>