<nav class="mob-main-mnu">
  <div class="mob-main-mnu-content">
    <ul class="mob-main-mnu-list">
      <li><a href="#aboutus">About us</a></li>
      <li>
        <a href="#why">Why Us</a>
      </li>
      <li><a href="#proj">Projects</a></li>
      <li>
        <a href="#team">Team</a>
      </li>
      <li>
        <a href="https://blog.zairza.in">Blog</a>
      </li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#foot">Contact Us</a></li>
    </ul>
  </div>
</nav><!-- End mobile main menu -->

<!-- Begin header -->
<header class="header">
  <!-- Begin header top -->
  <!-- Begin header fixed -->
  <nav class="header-fixed">
    <div class="container-fluid">
      <div class="row flex-nowrap align-items-center justify-content-between">
        <div class="col-auto d-block d-lg-none header-fixed-col">
          <div class="main-mnu-btn">
            <span class="bar bar-1"></span>
            <span class="bar bar-2"></span>
            <span class="bar bar-3"></span>
            <span class="bar bar-4"></span>
          </div>
        </div>
        <div class="col-auto header-fixed-col">
          <!-- Begin logo -->
          <a href="#" class="logo logo-ico-widht-text" title="">
            <img src="img/logo.jpg" alt="">
          </a>
        </div>
        <div class="col-lg col-static header-fixed-col">
          <div class="row flex-nowrap align-items-center justify-content-end">
            <div class="col-auto header-fixed-col d-none d-lg-block col-static">
              <!-- Begin main menu -->
              <nav class="main-mnu">
                <ul class="main-mnu-list">
                  <li><a href="#" data-title="About us"><span>About us</span></a></li>
                  <li class="main-mnu-item-has-child">
                    <a href="#why" data-title="Why Us">
                      <span>Why Us</span>
                    </a>
                  </li>
                  <li><a href="#proj" data-title="Projects"><span>Projects</span></a></li>
                  <li class="main-mnu-item-has-child main-mnu-item-mega-mnu">
                    <a href="#team" data-title="Team">
                      <span>Team</span>
                    </a>
                  <li class="main-mnu-item-has-child">
                    <a href="https://blog.zairza.in" data-title="Blog">
                      <span>Blog</span>
                    </a>
                  </li>
                  <li><a href="#faq" data-title="FAQ"><span>FAQ</span></a></li>
                  <li><a href="#foot" data-title="Contact Us"><span>Contact Us</span></a></li>
                </ul>
              </nav><!-- End main menu -->
            </div>
            <div class="col-auto d-block d-lg-none col-static header-fixed-col">
              <div class="header-navbar">
                <div class="header-navbar-btn">
                  <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
                </div>
                <ul class="header-navbar-content">
                  <li>
                    <a href="mailto:mail@example.com">
                      <i class="fa fa-envelope " aria-hidden="true"></i>
                      <span>cet.sac.zairza@gmail.com</span>
                    </a>
                  </li>
                  <li>
                    <b>24/7 Support:</b>
                    <a href="#!" class="formingHrefTel">9853155687</a>
                  </li>
                  <li>
                    <!-- Begin social links -->
                    <ul class="social-links">
                      <li>
                        <a href="https://www.facebook.com/zairza.cetb/" title="Facebook">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#!" title="Instagram">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/company/zairza" title="LinkedIn">
                          <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#!" title="Twitter">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul><!-- End social links -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav><!-- End header fixed -->
</header>
