
<h4 class="section-title" style="background-color:#4C2452; text-align:center; color:#fff; padding:20px; margin:0; font-size:30px;">Projects</h4>
<section class="section section-projects section-overflow-hidden section-bg" id="proj" style="background-image:url(img/project_bg.png)">
  <div class="container">
    <div class="row wow fadeIn">
      <div class="col-12">
        <div class="project-nav">
          <ul class="project-nav-list" >
            <li class="mixitup-control-active" data-filter="all">All</li>
            <li data-filter=".project-mobile-apps">Software Projects</li>
            <li data-filter=".project-custom-software">Hardware Projects</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="projects-container">
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 project-col project-mobile-apps  wow fadeInUp">
        <!-- Begin project item -->
        <div class="project-item item">
          <div class="project-item-card project-item-card-front">
            <img data-src="https://img.icons8.com/clouds/2x/server.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="bench routes">
          </div>
          <div class="project-item-card project-item-card-back">
            <div class="project-item-card-center">
              <h5 class="project-item-title">Bench Routes</h5>
              <div class="project-item-desc">
                <p>
                  Bench-routes is a highly scalable network benchmarking, routes performance and monitoring tool, that monitors in regular intervals the state of the server, running as a daemon process.
                </p>
              </div>
              <div class="wrapp-btn-circl-arrow justify-content-center">
                <a href="https://github.com/zairza-cetb/bench-routes" class="btn-circl-arrow btn-circl-arrow-white">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- End project item -->
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 project-col project-mobile-apps wow fadeInUp">
        <!-- Begin project item -->
        <div class="project-item item">
          <div class="project-item-card project-item-card-front">
            <img data-src="https://cdn3.iconfinder.com/data/icons/business-affairs-vol-2/128/bitcoin-blockchain-512.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="ethervote">
          </div>
          <div class="project-item-card project-item-card-back">
            <div class="project-item-card-center">
              <h5 class="project-item-title">Ethervote</h5>
              <div class="project-item-desc">
                <p>
                  Ethervote is a highly secured web application based on Blockchain technology leveraging Etherium protocols, revolved around the idea of e-voting.
                </p>
              </div>
              <div class="wrapp-btn-circl-arrow justify-content-center">
                <a href="https://github.com/Raj2367/Voting_using_blockchain" class="btn-circl-arrow btn-circl-arrow-white">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- End project item -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 project-col project-mobile-apps wow fadeInUp">
        <!-- Begin project item -->
        <div class="project-item item">
          <div class="project-item-card project-item-card-front">
            <img src="img/proj4.jpg" data-src="https://cdn3.iconfinder.com/data/icons/breads-and-grains-icons/520/Grain-512.png" alt="claim settlements">
          </div>
          <div class="project-item-card project-item-card-back">
            <div class="project-item-card-center">
              <h5 class="project-item-title">PMFBY Claim Settlements</h5>
              <div class="project-item-desc">
                <p>
                  It is a farmer crop insurance web application developed to be used by the respective government bodies and made using Blockchain and OpenCV.
                </p>
              </div>
              <div class="wrapp-btn-circl-arrow justify-content-center">
                <a href="https://github.com/ani-sha/pradhan-mantri-fasal-bima-yojana" class="btn-circl-arrow btn-circl-arrow-white">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- End project item -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 project-col project-custom-software wow fadeInUp">
        <!-- Begin project item -->
        <div class="project-item item">
          <div class="project-item-card project-item-card-front">
            <img data-src="https://images.homedepot-static.com/productImages/1ae2a111-3bd2-43e6-8816-b1f9316db5d0/svn/dji-drones-cp-pt-00000252-01-64_1000.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Motion and Path Planning of Drones using ROS">
          </div>
          <div class="project-item-card project-item-card-back">
            <div class="project-item-card-center">
              <h5 class="project-item-title">Motion and Path Planning of Drones using ROS</h5>
              <div class="project-item-desc">
                <p>ROS based project in which the drone follows a trajectory autonomously without human interaction.</p>
              </div>
              <div class="wrapp-btn-circl-arrow justify-content-center">
                <a href="https://github.com/KSanjayReddy/Smart-Water-Management-System" class="btn-circl-arrow btn-circl-arrow-white">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- End project item -->
      </div>


      <div class="col-lg-4 col-md-6 col-sm-6 col-12 project-col project-custom-software wow fadeInUp">
        <!-- Begin project item -->
        <div class="project-item item">
          <div class="project-item-card project-item-card-front">
            <img data-src="img/ph.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="RAG-KHYAS">
          </div>
          <div class="project-item-card project-item-card-back">
            <div class="project-item-card-center">
              <h5 class="project-item-title">RAG-KHYAS</h5>
              <div class="project-item-desc">
                <p>An autonomous robot which collects garbage with fusion of Deep Learning and proximity sensors.</p>
              </div>
              <div class="wrapp-btn-circl-arrow justify-content-center">
                <a href="https://github.com/agathver/rag-khyas" class="btn-circl-arrow btn-circl-arrow-white">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- End project item -->
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-12 project-col project-custom-software wow fadeInUp">
        <!-- Begin project item -->
        <div class="project-item item">
          <div class="project-item-card project-item-card-front">
            <img data-src="img/proj2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Plant Health Monitoring System">
          </div>
          <div class="project-item-card project-item-card-back">
            <div class="project-item-card-center">
              <h5 class="project-item-title">Plant Health Monitoring System</h5>
              <div class="project-item-desc">
                <p>IOT based project to track and record the health of plants.Track parameters like moisture of the soil, sunlight, humidity, and temperature of the plant environment </p>
              </div>
              <div class="wrapp-btn-circl-arrow justify-content-center">
                <a href="https://github.com/KSanjayReddy/Smart-Water-Management-System" class="btn-circl-arrow btn-circl-arrow-white">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- End project item -->
      </div>
    </div>
  </div>
</section>

<style media="screen">
  .project-nav{
    position: relative;
    padding:0 !important;
  }
@media only screen and (max-width: 600px) {
  .project-nav-list {
    font-size:14px;
  }
  }

</style>
