<section class="section" id="team">
  <div class="container">
    <div class="row items">
      <div class="col-12">
        <div class="wrapp-section-title section-title-center wow fadeIn"data-wow-delay=".5s">
          <h2 class="section-title">Meet The Team</h2>
          <hr style=" border: 0;height: 2px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight "data-wow-duration=".5s">
          <div class="team-item-img">
            <img data-src="img/mem1.jpg" class="lazy" src="" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Ankit Kumar Jena</h4>
            <div class="team-item-position">Convener</div>
            <ul class="team-item-social-links">
              <!-- TODO -->
              <li>
                <a href="https://www.facebook.com/profile.php?id=100002617764210" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ankitjena/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/ankitjey" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ankitjena" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".75s">
          <div class="team-item-img">
            <img data-src="img/mem2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Abhishek Mishra</h4>
            <div class="team-item-position">Coordinator</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/profile.php?id=100002222324524" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/abhimishraa/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/lucifer_mintu" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/abhiMishra98" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Aquib Baig</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <!-- TODO -->
              <li>
                <a href="https://www.facebook.com/aquib.baig.52" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/baigaquib/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/BaigAquib" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/aquibbaig" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight "data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem4.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Dikshant Brahma</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://facebook.com/dikshant.brahma" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <!-- <li>
                <a href="#!" title="Instagram">
                  <i class="fa fa-instagram fa-lg" aria-hidden="true" style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li> -->
              <li>
                <a href="https://linkedin.com/in/dikshant-b-381830112/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/dikshant_brahma" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/dikshantbrahma" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".5s">
          <div class="team-item-img">
            <img data-src="img/mem5.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Adarsh Brata Pal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/AaronBrata" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/adarsh-brata-pal-01021998" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/AdarshBrata?s=09" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/DeViL3998" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".75s">
          <div class="team-item-img">
            <img data-src="img/mem6.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Shashwat Sourav Swain</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/shashwatdevil08" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/shashwat-sourav-swain-21b63b151/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="#!" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/swainshashwat" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem7.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Ganesh Patro</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/ganesh.patro.31" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ganesh-patro-b05536151/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="#!" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ganeshpatro321" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem8.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Anisha Mohanty</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/anisha.mohanty23" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/anisha-mohanty-97a7a7169/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/anisha__mohanty" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ani-sha" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".5s">
          <div class="team-item-img">
            <img data-src="img/mem9.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Om Prakash Jena</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://fb.com/omjena27" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/in/omprakashjena98/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://https://twitter.com/om_prakash_jena" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/omjena27" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".75s">
          <div class="team-item-img">
            <img data-src="img/mem10.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Alisha Mohanty</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/alisha.papun" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://in.linkedin.com/in/alisha-mohanty-573197140" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/freaky_mortal" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/alishamohanty" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem11.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Siddhant Mund</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/siddhant.mund.2/" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/siddhant-m-16a419a3/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://mobile.twitter.com/ia_msid" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/iamsid2" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Yati Padia</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/yati.padia" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/yati-padia-69414a148" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/yati1998" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Ramakrishna Pattnaik</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/ramakrishna.pattnaik" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/rkpattnaik780/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/rkpattnaik_780" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/rkpattnaik780/" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.75s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Madhuja Nayak</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/madhuja.nayak" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="www.linkedin.com/in/madhuja-nayak-b41b14160" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/madhuja_nayak" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Dibyajit Bardhan</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/dibyajit.bardhan" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/dibyajit-bardhan/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/DibyajitBardhan?s=09" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Deepak Senapati</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/deepak.senapati97" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/deepak-senapati/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/deepak__97" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/Deepak345/" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Abhinash Panda</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/abinash.panda.9085" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/abinash-panda-7983a8142" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/Abinash90477792" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/abinashp437" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.75s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Anisha Agrawal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/anisha.agrawal.56" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/anisha-agrawal-916b9b147" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">NVS Abhishek</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/nvs.abhishek" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/n-v-s-abhishek-039389134" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/_NVS16_" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/NVS16" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Kirty Goyal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/kirty.goyal.90?ref=bookmarks" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/kirtygoyal/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/GoyalKirty" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/Kirty-Goyal" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Pooja Agarwal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/pooja.agarwal.1257604" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/pooja-agarwal-49ab99147/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/agarwalpooja/" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.75s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Tanmay Kumar Rath</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="facebook.com/tanmay.rath1" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="linkedin.com/in/tanmay-rath-10a012166/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/tanmayratho" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Arpan Prusty</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/arpan.prusty?ref=bookmarks" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/arpan-prusty-368345173" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://mobile.twitter.com/ARPANPRUSTY" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/arpanprusty" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Siwani Agrawal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/siwani.agrawal.96" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/siwani-agrawal-151736161" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/siwaniagrawal" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Subham Tandon</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/subhamtandon26" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/subham-tandon-8457a8145/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/SubhamTandon" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/subhamtandon" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
    </div>
  </div>
</section><!-- End team -->
