<section class="section" id="team">
  <div class="container">
    <div class="row items">
      <div class="col-12">
        <div class="wrapp-section-title section-title-center wow fadeIn"data-wow-delay=".5s">
          <h2 class="section-title">Meet The Team</h2>
          <hr style=" border: 0;height: 2px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight "data-wow-duration=".5s">
          <div class="team-item-img">
            <img data-src="img/mem1.jpg" class="lazy" src="" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Ankit Kumar Jena</h4>
            <div class="team-item-position">Convener</div>
            <ul class="team-item-social-links">
              <!-- TODO -->
              <li>
                <a href="https://www.facebook.com/profile.php?id=100002617764210" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ankitjena/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/ankitjey" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ankitjena" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".75s">
          <div class="team-item-img">
            <img data-src="img/mem2.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Abhishek Mishra</h4>
            <div class="team-item-position">Coordinator</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/profile.php?id=100002222324524" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/abhimishraa/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/lucifer_mintu" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/abhiMishra98" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem3.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Aquib Baig</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <!-- TODO -->
              <li>
                <a href="https://www.facebook.com/aquib.baig.52" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/baigaquib/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/BaigAquib" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/aquibbaig" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight "data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem4.png" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Dikshant Brahma</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://facebook.com/dikshant.brahma" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <!-- <li>
                <a href="#!" title="Instagram">
                  <i class="fa fa-instagram fa-lg" aria-hidden="true" style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li> -->
              <li>
                <a href="https://linkedin.com/in/dikshant-b-381830112/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/dikshant_brahma" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/dikshantbrahma" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".5s">
          <div class="team-item-img">
            <img data-src="img/mem5.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Adarsh Brata Pal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/AaronBrata" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/adarsh-brata-pal-01021998" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/AdarshBrata?s=09" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/DeViL3998" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".75s">
          <div class="team-item-img">
            <img data-src="img/mem6.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Shashwat Sourav Swain</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/shashwatdevil08" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/shashwat-sourav-swain-21b63b151/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="#!" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/swainshashwat" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem7.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Ganesh Patro</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/ganesh.patro.31" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/ganesh-patro-b05536151/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="#!" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ganeshpatro321" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem8.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Anisha Mohanty</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/anisha.mohanty23" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/anisha-mohanty-97a7a7169/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/anisha__mohanty" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/ani-sha" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".5s">
          <div class="team-item-img">
            <img data-src="img/mem9.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Om Prakash Jena</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://fb.com/omjena27" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://linkedin.com/in/omprakashjena98/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://https://twitter.com/om_prakash_jena" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/omjena27" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration=".75s">
          <div class="team-item-img">
            <img data-src="img/mem10.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Alisha Mohanty</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/alisha.papun" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://in.linkedin.com/in/alisha-mohanty-573197140" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/freaky_mortal" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/alishamohanty" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="img/mem11.jpg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Siddhant Mund</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/siddhant.mund.2/" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/siddhant-m-16a419a3/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://mobile.twitter.com/ia_msid" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/iamsid2" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="img/mem12.jpeg" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Yati Padia</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/yati.padia" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/yati-padia-69414a148" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/yati1998" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class=" col-12" id="load-more">
        <center><button type="button" class="btn btn-info " style=" margin:10px;">Load More</button></center>

      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/15977601_587119068079649_4908905352450548282_n.jpg?_nc_cat=107&_nc_oc=AQk-SdPT_2rnBd8ZvZPpMr3aor8yAMtwrYTqNumRkcxlMhJzFpgkiivovp-eQ-KZ-rbH1k2MzxHRqyrK3xs-cS85&_nc_ht=scontent.fbbi1-1.fna&oh=5c750d0420b2e411ec2de39c65db4e1c&oe=5DF88BF2" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Ramakrishna Pattnaik</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/ramakrishna.pattnaik" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/rkpattnaik780/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/rkpattnaik_780" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/rkpattnaik780/" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.75s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/67493966_2403878003267473_2994442209404649472_n.jpg?_nc_cat=100&_nc_oc=AQnY_9eRRn4eLIbJmkOFGY3f4N4VEvRDgF7v1BCHhYn2HyRShwgmyt69VEcnVykRYMZtEp9OTT4Ncl1MEGjdB1ul&_nc_ht=scontent.fbbi1-1.fna&oh=b4ae5c940f14bc58e163ab5f0c310018&oe=5E1486EF" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Madhuja Nayak</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/madhuja.nayak" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="www.linkedin.com/in/madhuja-nayak-b41b14160" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/madhuja_nayak" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/21728141_2081141242171028_6813243985914834097_n.jpg?_nc_cat=110&_nc_oc=AQnSc9zQQfAb65EQGzKQVjFIyVK5a2Lgf1xroWj92GAEGEEV_agf661_DJJjE5fnAG7U1Ae5QFP8ExenC0CwCpXv&_nc_ht=scontent.fbbi1-1.fna&oh=935b3ed2ad31e1365c180e5a43ef6dbc&oe=5E098B5F" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Dibyajit Bardhan</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/dibyajit.bardhan" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/dibyajit-bardhan/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/DibyajitBardhan?s=09" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/67214996_688163258298751_349085973927165952_n.jpg?_nc_cat=102&_nc_oc=AQlUAoHJgOTIS5czWq919vBZURQWc05rhmM4bbYNWS5PNjrr0odatKlUSOQSnq-DzXqmgLosKfRw1VJV-EHiFIY7&_nc_ht=scontent.fbbi1-1.fna&oh=6313f6000d9e6f8ff672fd2079f7fd92&oe=5E13B8B2" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Deepak Senapati</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/deepak.senapati97" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/deepak-senapati/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/deepak__97" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/Deepak345/" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/20476442_1951462745134255_7951471036414679821_n.jpg?_nc_cat=102&efg=eyJpIjoidCJ9&_nc_oc=AQnzfTYfzJeojeUEMYcHhxTDzWvNLUyjh3uyNXikAQFrxRP73oQTmmB_H4hzYVPWqG0RLYulAxx-6176uACVFH8L&_nc_ht=scontent.fbbi1-1.fna&oh=637b6aed12e9e807ba018d5beb83afab&oe=5E004078" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Abhinash Panda</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/abinash.panda.9085" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/abinash-panda-7983a8142" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/Abinash90477792" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/abinashp437" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.75s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-1/c0.29.720.720a/25507963_1371689429623409_6433248614432493789_n.jpg?_nc_cat=103&_nc_oc=AQmr8ZLD8rdQpDOh6ga0Z6_n7Q5WjZV-xEcFJSD-MdWbYM6UepElMNlsRSYYspytsSghbCZIxKT9a6I3SSaDS9l0&_nc_ht=scontent.fbbi1-1.fna&oh=99de2ad6a24e614c5b05bc192e33530a&oe=5E06CE8D" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Anisha Agrawal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/anisha.agrawal.56" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/anisha-agrawal-916b9b147" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/28167850_1184127268388376_4544251827560484519_n.jpg?_nc_cat=100&_nc_oc=AQnTmTWcUO-6nkxqjSfMWLlPLMfH4ly7RomzRDdBsN9KcUcbgvJmHzGby5dXTw2WaWKXUNSnHXGRvashZnpRRDGW&_nc_ht=scontent.fbbi1-1.fna&oh=af0995a61211330985f9be5b3758f2fa&oe=5E0CC575" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">NVS Abhishek</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/nvs.abhishek" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/n-v-s-abhishek-039389134" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/_NVS16_" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/NVS16" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t31.0-8/fr/cp0/e15/q65/22520007_1958615204425978_6180336706461281402_o.jpg?_nc_cat=105&efg=eyJpIjoidCJ9&_nc_oc=AQlbjP9q4TAVYwxcQx11npk4c6U94NiXeoixm2rpk4VZu0e3w0J779JNCxHFwLTWyOcGB6SnEKlBIsIr85RIoNc6&_nc_ht=scontent.fbbi1-1.fna&oh=930efefd08c096cf81186217d7dd0ea4&oe=5E149CF4" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Kirty Goyal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/kirty.goyal.90?ref=bookmarks" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/kirtygoyal/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/GoyalKirty" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/Kirty-Goyal" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-2 col-sm-6 col-12 abc" >
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/14192509_1769047643320159_5040225158622195302_n.jpg?_nc_cat=109&_nc_oc=AQk6HO0NoJeIcefuTGX5M8jCR3FoG_ANwO5RlX-j8TRGXToYd76DYmr9i9tor-GoA6xKQ96FFdilK8-vBE6uBbL-&_nc_ht=scontent.fbbi1-1.fna&oh=99f6743f99ab9ffd32138faf3bb89c90&oe=5E13CD6F" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Pooja Agarwal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/pooja.agarwal.1257604" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/pooja-agarwal-49ab99147/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/agarwalpooja/" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.75s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/49897513_1881089765335715_3346691551299371008_n.jpg?_nc_cat=105&_nc_oc=AQkAPr6BiloDufB8-5qPB4tVkLtVxu02rz3ZcMvQnrt_nJfyb-w1iBCRZ2dlk_ewbepIyy-nbBVpCfuQf5TXAudK&_nc_ht=scontent.fbbi1-1.fna&oh=b7585e53eca116386c272ad9064827d1&oe=5DFDB596" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Tanmay Kumar Rath</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="facebook.com/tanmay.rath1" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="linkedin.com/in/tanmay-rath-10a012166/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/tanmayratho" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Arpan Prusty</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/arpan.prusty?ref=bookmarks" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/arpan-prusty-368345173" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://mobile.twitter.com/ARPANPRUSTY" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/arpanprusty" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Siwani Agrawal</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://m.facebook.com/siwani.agrawal.96" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/siwani-agrawal-151736161" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/siwaniagrawal" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12 abc" >
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight"data-wow-duration="0.5s">
          <div class="team-item-img">
            <img data-src="https://scontent.fbbi1-1.fna.fbcdn.net/v/t1.0-9/49009389_1962798304025731_1155467874752528384_n.jpg?_nc_cat=101&_nc_oc=AQlBGGQ83aIQoua3Owpk9cr0t1q0X79651x8Y3prXxtwDD935EqzWhuWejWtqAFY0QihQRTsDDG3RDwKV_lUyqFt&_nc_ht=scontent.fbbi1-1.fna&oh=62617469522f5943ebbf67c5c158cec2&oe=5E036D28" class="lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Subham Tandon</h4>
            <div class="team-item-position">Core Member</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/subhamtandon26" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/subham-tandon-8457a8145/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/SubhamTandon" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"style="color:white;background-color:#2c7ae7;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/subhamtandon" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"style="color:white; background-color:#2c7ae7; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class=" col-12" id="show-less">
        <center><button type="button" class="btn btn-info " style=" margin:10px;">Show Less</button></center>

      </div>
    </div>
  </div>
</section><!-- End team -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
  $(".abc").hide();
  $("#show-less").hide();
  $(document).ready(function(){

    $("#load-more").click(function(){
      $(".abc").slideDown();
      $("#load-more").fadeOut();
      $("#show-less").fadeIn();

    });
    $("#show-less").click(function(){
      $(".abc").slideUp();
      $("#show-less").fadeOut();
      $("#load-more").fadeIn();

    });
  });
</script>
