<section class="section section-bg" id="why">
  <div class="container">
    <div class="row items">
      <div class="col-12">
        <div class="wrapp-section-title section-title-center">
          <h2 class="section-title">Why Choose Us</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Begin choose us item -->
        <div class="choose-us-item item">
          <div class="choose-us-item-count">01</div>
          <div class="choose-us-item-info">
            <h4 class="choose-us-item-title">Better Environment</h4>
            <div class="choose-us-item-desc">
              <p>Peaceful environment, 24/7 open.</p>
            </div>
          </div>
        </div><!-- End choose us item -->
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <!-- Begin choose us item -->
        <div class="choose-us-item item">
          <div class="choose-us-item-count">02</div>
          <div class="choose-us-item-info">
            <h4 class="choose-us-item-title">High speed wifi</h4>
            <div class="choose-us-item-desc">
              <p></p>
            </div>
          </div>
        </div><!-- End choose us item -->
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Begin choose us item -->
        <div class="choose-us-item item">
          <div class="choose-us-item-count">03</div>
          <div class="choose-us-item-info">
            <h4 class="choose-us-item-title">Well placed <br> Alumnis</h4>
            <div class="choose-us-item-desc">
              <p>Alumnus at ISRO, NowFloats, Siemens, Intel, Microsoft, Amazon.</p>
            </div>
          </div>
        </div><!-- End choose us item -->
      </div>

    </div>
  </div>
</section>