<!-- Begin why choose us -->
<section id="why">
  <h4 class="section-title" style="background-color:#4C2452; text-align:center; color:#fff; padding:10px;">Why Choose Us?</h4>
      <div class="row items">
        <div class="col-lg-4 col-md-4 col-12 why-img">
          <img src="img/vector1.png" alt="" style="margin-left:40px; height:inherit; width:inherit;">
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-6 col-md-6 col-12 ">
          <div class="row items">
            <div class="col-lg-4 col-md-4 col-4 section-title-center why-body">
                  <img id="why-reason"src="img/idea.png" alt=""><br>
                  <p style="padding:5px;">Better <br>Environment </p>
            </div>
            <div class="col-lg-4  col-md-4 col-4 section-title-center">
                  <img id="why-reason" src="img/goal.png" alt=""><br>
                  <p style="padding:5px;">Well Placed <br> Alumnis  </p>
            </div>
            <div class="col-lg-4 col-md-4 col-4 section-title-center">
                  <img id="why-reason" src="img/wifi.png" alt=""><br>
                  <p style="padding:5px;">High Speed <br>Wifi</p>
            </div>
            <div id="why-body" class="col-12">
              <p >Here at Zairza, we design, we create and we innovate. Extensive research and
                  development is carried out which equips the members with knowledge on various technological fields. Members
                  are actively engaged in taking the society to greater height through their continuous efforts in
                  the field of Engineering. The legacy of Zairza flows down through each batch of CET which
                  empowers us to stand ahead of our counterparts.
              </p>

            </div>
          </div>
        </div>
</section>

<style media="screen">
  #why-reason {
    margin-top: 80px;
    border:none;
    height:100px;
     padding:20px;
     border-radius:50%;
     background-color:#4C2452;
  }
  #why-body{
    padding:50px; font-size:18px; text-align:justify;
  }

  @media only screen and (max-width: 600px) {
    .why-img{
      display:none;
    }

    #why-reason{
      margin-top: 10px;
    }

    #why-body{
      padding:0 30px 0 30px;
      font-size:16px;
      margin: 0 0 25px 0;
    }

  }

</style>
