<!-- Begin why choose us -->
<section class="section section-bg" id="why">
    <div class="container">
      <div class="row items">
        <div class="col-12">
          <div class="wrapp-section-title section-title-center">
            <h2 class="section-title">Why Choose Us</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Begin choose us item -->
          <div class="choose-us-item item">
            <div class="choose-us-item-count">01</div>
            <div class="choose-us-item-info">
              <h4 class="choose-us-item-title">Healthy Workspace</h4>
              <div class="choose-us-item-desc">
                <p>We provide you a platform to pitch any idea from the top of your head and help you to build it with hardware/software tools.</p>
              </div>
            </div>
          </div><!-- End choose us item -->
        </div>

        <div class="col-lg-4 col-md-6 col-12">
          <!-- Begin choose us item -->
          <div class="choose-us-item item">
            <div class="choose-us-item-count">02</div>
            <div class="choose-us-item-info">
              <h4 class="choose-us-item-title">Self Exploration</h4>
              <div class="choose-us-item-desc">
                <p>A chance to explore various domains and designing really cool stuff that makes your neighbor jealous.</p>
              </div>
            </div>
          </div><!-- End choose us item -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Begin choose us item -->
          <div class="choose-us-item item">
            <div class="choose-us-item-count">03</div>
            <div class="choose-us-item-info">
              <h4 class="choose-us-item-title">Personality Development</h4>
              <div class="choose-us-item-desc">
                <p>If you're someone who is like a fish out of water, ZAIRZA is your shot at interacting with the coolest people in college (well, almost).</p>
              </div>
            </div>
          </div><!-- End choose us item -->
        </section>
